body {
    margin: 0;
    margin-top: 35px;
    height: 100%;
    width: 100%;
}

#divPrincipal {
    width: 677px;
    border: 1px solid #2B81AF;
    border-radius: 10px;
    margin-left: 10px;
    padding: 2px;

}


table {
    width: 675px;
    border: 0;
    padding: 0;
    border-spacing: 0;
    border-collapse: collapse;
}

tr, td {

    border: none;
    padding: 0;
}

#dessin {
    width: 400px;
}

#phylactere {
    width: 277px;
}

#personnage {
    width: 277px;
    height: 243px;
}

#mot_cache {
    width: 500px;
    position: absolute;
    left: 15px;
    top: 426px;
    text-align: center;
}

#alphabet {
    width: 500px;
    position: absolute;
    left: 15px;
    top: 475px;
    text-align: center;
}

.spanAlphabet {
    margin-right: 10px;
    cursor: pointer;
}

.spanAlphabetClicked {
    margin-right: 10px;
    opacity: 20%;
}
#divJoueur{
    color: #2F68DA;
    font-size: larger;
    padding: 2px;
}

